* {
    box-sizing: border-box;
}

.container {
    border: 4px solid red;

    /* width: 700px; */
    height: 20vh;

    display: flex;
    
    /* Основная ось */
    /* justify-content: space-between; */
    
    /* Вспом ось */
    /* align-items: center; */
    
    
    /* align-content: stretch; */
    
    /* flex-direction: column;
    flex-wrap: wrap; */

    flex-flow: row nowrap;
}

.elem {
    /* width: 50px; */
    /* height: 50px; */
    padding: 30px;

    border: 3px solid green;

    font-size: 2em;
    text-align: center;
}

.elem:nth-child(4) {
    /* order: 0; */
    
    /* flex-grow: 1; default 0*/
    /* flex-shrink: 0; default 1*/
    /* flex-basis: 150px; */
    /* flex: 1 0 150px; */

    /* Аналогия */
    /* min-width: 150px; */
    /* max-width: 100%; */
    /* width: 100%; */

    /* content < width < flex-basis < max, min */

    /* align-self: flex-end; */
    
    /* margin-left: auto; */
}
